<!-- This is never used but its just here to show how a chat message looks -->

<div class="message-wrapper">
  <div class="chat-bubble chat-right">
    <div class="chat-message">
    </div>
    <div class="meta-data">
      <div class="chat-time">
        14:29
      </div>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!-- You define loading by adding the following in the chat message field

<div class="loading">
  <div class="loading-dot"></div>
  <div class="loading-dot"></div>
  <div class="loading-dot"></div>
</div> -->
