<footer>
  <div class="axelcopyright">
    <i class="fa fa-copyright" aria-hidden="true"></i>
    Axel Goetz
  </div>

  <div class="social-media">
    {% if site.email %}
      <a href="mailto:{{ site.email }}" title="Email me">
        <i class="icon fa fa-envelope" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" target="_blank" title="Github">
        <i class="icon fa fa-github" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% if site.linkedin_url %}
      <a href="{{ site.linkedin_url }}" target="_blank" title="LinkedIn">
        <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% if site.facebook_url %}
    <a href="{{ site.facebook_url }}" target="_blank" title="Facebook">
      <i class="icon fa fa-facebook" aria-hidden="true"></i>
    </a>
    {% endif %}

  </div>
</footer>
