<div id="modal-help" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Help</h2>
    </div>
    <div class="modal-body">
      <div>This is a conversational style website, which means that you can ask anything and the Personal Assistant will respond appropriately.
      You can start by asking the following questions:</div>
      <ul>
        <li><b>I need some help.</b></li>
        <li><b>Who is Axel?</b></li>
        <li><b>How can I contact Axel?</b></li>
      </ul>
    </div>
  </div>
</div>
