/* BODY */
.threadbit .thread {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 15px;

  background-color: #eee;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  cursor: pointer;
  cursor: hand;
}

.user img {
  background-color: #4c5a70;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.user-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.username {
  font-weight: bold;
}

#last-seen {
  color: rgba(0, 0, 0, .6);
}

.fa {
  cursor: pointer;
  cursor: hand;
}

.fa:hover {
  color: rgba(0, 0, 0, .6);
}

.center-vertically {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 15px;

  background-color: #eee;
}

.input-container {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 5px;
  background-color: #fff;

  min-height: 30px;
  margin-bottom: 5px;
}

#input-placeholder {
  color: #999;
  font-size: 15px;
  line-height: 20px;
  z-index: 0;
  padding-left: 10px;
  position: absolute;
}

#input-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 0 2px 0 0;
  min-height: 20px;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 10px;
  position: relative;
  z-index: 1;
  width: 100%;

  outline: 0px solid transparent;
}


/* CHAT MESSAGES */
#chat-container {
  height: 100%;
  width: 100%;

  /*display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;*/

  background-color: #4c5a70;

  overflow-y: auto;
}

.message-wrapper {
  padding-left: 1%;
  padding-right: 1%;

  margin-bottom: 3px;
  margin-top: 12px;
  min-height: 30px;
  min-width: 97%;

  float: left;
}

.chat-bubble {
  max-width: 85%;
  min-width: 7%;
  min-height: 30px;
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
}

.chat-left:before {
  border-left-color: #fff;
}

.chat-left {
  background-color: #fff;
  float: left;
  position: relative;
}

.chat-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 1;
  left: -6px;
  top: 25px;
}

.chat-right {
  background-color: #dcf8c6;
  float: right;
  position: relative;
}

.chat-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent #dcf8c6;
  display: block;
  width: 0;
  z-index: 1;
  right: -6px;
  top: 25px;
}

.chat-message {
  position: relative;
  line-height: 19px;
  word-wrap: break-word;
  padding-bottom: 12px;
}

.meta-data {
  bottom: 3px;
  right: 7px;
  position: absolute;
  height: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.chat-time {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 15px;
  padding-right: 3px;
}

.meta-data i {
  padding-top: 3px;
  font-size: 60%;
  color: rgba(0, 0, 0, 0.45);
}

.loading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  padding-top: 8px;
}

/* LOADING */
.loading-dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	margin: 0 5;
	transform: scale(0);
  background-color: #999;

  animation-name: fx;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.loading-dot:nth-child(2) {
  animation-delay: 300ms;
}

.loading-dot:nth-child(3) {
  animation-delay: 600ms;
}

@keyframes fx {
	50% {
		transform: scale(1);
		opacity: 1;
    background-color: #999;
	}
	100% {
		opacity: 0;
    background-color: #bbb;
	}
}
