{% extends "default.html" %}

{% block body %}
<style>
  html, body {
    overflow: hidden;
  }
</style>
<div class="container">
  <div class="header">
    <div class="user">
      <img src="{{ url_for("static", filename="/images/favicon.png") }}" alt="Profile Picture" style="background-color: #fff">
      <div class="user-info">
        <span class="username">Axel's Personal Assistant</span>
        <span id="last-seen">last seen today at 16.42</span>
      </div>
    </div>
    <div class="center-vertically">
      {% include "dropdown.html" %}
    </div>
  </div>
  <div id="chat-container">
  </div>
  <div class="input">
    <div class="center-vertically">
      <i id="question" class="fa fa-question" aria-hidden="true"></i>
    </div>
    <div class="input-container center-vertically">
      <div id="input-placeholder">Type a message...</div>
      <div id="input-text" contenteditable="true" data-tab="1" dir="auto" spellcheck="true"></div>
    </div>
    <div class="center-vertically">
      <i id="send-button" class="fa fa-paper-plane" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div id="modals">
  {% include "credits.html" %}
  {% include "help.html" %}
  {% include "website-info.html" %}
</div>
<canvas id="canvas"></canvas>
{% endblock %}