<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>
      {% if page.title and page.title != 'Index' %}
        {{ page.title }} -
      {% endif %}
      {{ site.title }}
    </title>

    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="Axel Goetz' personal website to display basic information such who is is, projects he's working on and links to social media in a conversational way."/>

    <meta property="og:site_name" content="{{ site.title }}">
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
   <meta property="og:title" content="Axel Goetz">
   <meta property="og:description" content="{{ site.description }}">
   {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
   <meta property="article:publisher" content="{{ site.facebook_url }}">

    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89156236-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div class="content">
       {{ content }}
    </div>
  </body>

  {% if page.title == 'Index' %}
    <script type="text/javascript" src="{{ "/assets/js/gravity.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="https://api.ipify.org?format=jsonp&callback=setIP"></script>
  {% endif %}
</html>
